.contact-container {
    background-color: black;
    padding: 50px;
    text-align: center;
  }
  
  .contact-details {
    margin-bottom: 40px;
    text-align: left;
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  
  input, textarea {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: red;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  